.groups,
.groups * {
  box-sizing: border-box;
}
.groups {
  background: #ffffff;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.groups .rectangle-3 {
  background: #f2e1f8;
  width: 1440px;
  height: 206px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.groups .upcoming-tasks {
  color: #52016f;
  text-align: center;
  font-family: "InriaSans-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 1173px;
  top: 227px;
  width: 243px;
  height: 62px;
}
.groups .task-1-group-due-date {
  color: #000000;
  text-align: right;
  font-family: "-", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 1187px;
  top: 320px;
  width: 215px;
  height: 67px;
}
.task-1-group-due-date-span {
  color: #000000;
  font-family: "InriaSans-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.task-1-group-due-date-span2 {
  color: #000000;
  font-family: "InriaSans-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.groups .rectangle-1 {
  background: #eeeeee;
  border-radius: 15px;
  width: 800px;
  height: 250px;
  position: absolute;
  left: 155px;
  top: 235px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.groups .rectangle-2 {
  background: #eeeeee;
  border-radius: 15px;
  width: 800px;
  height: 250px;
  position: absolute;
  left: 155px;
  top: 597px;
}
.groups .groups2 {
  color: #52016f;
  text-align: left;
  font-family: "InriaSans-Regular", sans-serif;
  font-size: 60px;
  font-weight: 400;
  position: absolute;
  left: 155px;
  top: 76px;
  width: 558px;
  height: 87px;
}
.groups .art-101 {
  color: #000000;
  text-align: left;
  font-family: "InriaSans-Regular", sans-serif;
  font-size: 48px;
  font-weight: 400;
  position: absolute;
  left: 174px;
  top: 258px;
  width: 295px;
  height: 62px;
}
.groups .comm-101 {
  color: #000000;
  text-align: left;
  font-family: "InriaSans-Regular", sans-serif;
  font-size: 48px;
  font-weight: 400;
  position: absolute;
  left: 174px;
  top: 619px;
  width: 318px;
  height: 72px;
}
