.Groups {
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: white;
}
.Groups-screen{
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 100px;
  overflow-y: auto;
}
.Groups-header {
  display: flex;
  height: 23vh;
  width: 100vw;
  align-items: center;
}
.Groups-page-name-container {
  text-decoration: none;
  height: 15vh;
  width: 70vw;
  display: flex;
  justify-content: 'center';
}
.Groups-page-name {
  font-family: "Syne", sans-serif;
  font-weight: 700;
  color: black;
  text-decoration: none;
  font-size: 6vh;
  margin-left: 4vw;
}
.Groups-circle-plus {
  color: black;
  font-size: 12vh;
  position: absolute;
  top: 2%;
  left: .5%;

}

.Groups-bottom-view{
  display: flex;
  flex-direction: row;
  width: 100vw;
  min-height: 77vh;
  overflow-y: auto;
}
.Groups-bottom-left,
.Groups-bottom-right {
  display: flex;
  flex-direction: column;
  min-height: 77vh;
  overflow-y: auto;
}

.Groups-bottom-left {
  align-items: center;
  width: 25vw;
}

.Groups-bottom-right {
  width: 75vw;

}

/* Button Container Styles */
.Groups-button-container {
  display: flex;
  position: absolute;
  top: 2vh; 
  right: 9%; 
}

.Groups-add-member-button,
.Groups-group-settings-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  width: 45%; 
  text-align: center;
  margin-top: 1vh; 
  margin-right: 5%;
  background-color: #231f3d;
  border-radius: 20px;
  font-family: "Syne", sans-serif;
  font-weight: 700;
  color: white;
  font-size: 2.3vh;
  cursor: pointer;
  position: relative; 
  overflow: hidden; 
}


.Groups-add-member-button::before,
.Groups-group-settings-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200%;
  height: 200%;
  background-color: rgba(255, 255, 255, 0.5); 
  border-radius: 50%;
  animation: none;
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.Groups-add-member-button:hover::before,
.Groups-group-settings-button:hover::before {
  animation: rayEffect 1s linear infinite;
  opacity: 1;
}

@keyframes rayEffect {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}


.Groups-members-container {
  display: flex;
  flex-direction: column; /* Adjusted to place members under the title */
  align-items: center; /* Centering members */
  height:335px; /* Adjust as needed */
  width: 17vw;
  text-align: center;
  margin-top: 15vh;
  border-radius: 8%;
  background-color: #C2AFF0;
}
.Groups-members-title {
  font-family: "Syne", sans-serif;
  font-weight: 700;
  color: black;
  text-decoration: none;
  font-size: 3vh;
  margin-top: 1vh; /* Adjust as needed */
  margin-bottom: 1vh; /* Adjust as needed */
}
.Groups-members-sub-container {
  display: flex;
  flex-direction: column;
  height: auto; /* Adjust as needed */
  width: 17vw;
  text-align: center;
  margin-top: 0.5vh; /* Adjust as needed */
  border-radius: 8%;
  overflow-y: auto;
}
.Groups-members-text {
  font-family: "Syne", sans-serif;
  font-weight: 700;
  color: rgb(70, 70, 70);
  text-decoration: none;
  font-size: 2.5vh;
  margin-bottom: 2vh;
}
.Groups-description-title {
  font-family: "Syne", sans-serif;
  font-weight: 700;
  color: black;
  text-decoration: none;
  font-size: 3vh;
  margin-top: 5.5vh;
  margin-left: 4vh;
}
.Groups-description-text {
  font-family: "Syne", sans-serif;
  font-weight: 700;
  color: black;
  text-decoration: none;
  font-size: 2.7vh;
  margin-top: 1vh;
  margin-left: 4vh;
}
.Groups-description-container {
  display: flex;
  flex-direction: column;
  height: 24vh;
  width: 60vw;
  overflow: auto;
}
.Groups-tasks-container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 80vw;
  min-height: 60vh;
  overflow-y: auto;
  flex-direction: column;
  
}
.Groups-tasks-title {
  font-family: "Syne", sans-serif;
  font-weight: 700;
  color: black;
  text-decoration: none;
  font-size: 3vh;
  margin-top: 1vh;
  margin-left: 4vh;
}
.Groups-tasks-sub-container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 70vw;
  min-height: 40vh;
  overflow-y: auto;
  flex-direction: row;
}
.Groups-task {
  user-select: none;
  padding: 5px;
  width: 30vh;
  height: 15vh;
  margin-top: 2vw;
  margin-left: 2.8vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #F0E6FE;
  font-family: "Syne", sans-serif;
  font-weight: 300;
  color: white;
  text-decoration: none;
  font-size: 4vh;
  cursor: pointer;
  position: relative; /* Required for pseudo-element */
  overflow: hidden; /* Required for pseudo-element */
}

/* Task Button Hover Styles */
.Groups-task::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200%;
  height: 200%;
  background-color: rgba(0, 0, 0, 0.5); /* White color with transparency */
  border-radius: 50%;
  animation: none; /* Initially no animation */
  opacity: 0; /* Initially hidden */
  transition: transform 0.5s ease, opacity 0.5s ease; /* Smooth transition */
}

.Groups-task:hover::before {
  animation: rayEffect 1s linear infinite; /* Animation for ray effect on hover */
  opacity: 1; /* Show the rays on hover */
}

@keyframes rayEffect {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}

.Groups-plus-sign {
  font-family: "Syne", sans-serif;
  font-weight: 700;
  color: white;
  text-decoration: none;
  font-size: 12vh;
}
.Groups-ptotal {
  font-family: "Syne", sans-serif;
  font-weight: 700;
  color: black;
  text-decoration: none;
  font-size: 3vh;
  text-align: right;
  margin-right: 2vw;
}