.Groups {
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: white;
}
.Groups-screen{
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow-y: auto;
}
.Groups-header {
  display: flex;
  height: 23vh;
  width: 100vw;
  align-items: center;
}
.Groups-page-name-container {
  text-decoration: none;
  height: 15vh;
  width: 70vw;
  display: flex;
  justify-content: 'center';
}
.Groups-page-name {
  font-family: "Syne", sans-serif;
  font-weight: 700;
  color: black;
  text-decoration: none;
  font-size: 6vh;
  margin-left: 4vw;
}
.Groups-circle-plus {
  color: black;
  font-size: 12vh;
  position: absolute;
  top: 4%;
  right: 3%;

}
.Groups-bottom-view{
  display: flex;
  flex-direction: row;
  width: 100vw;
  min-height: 77vh;
  overflow-y: auto;
}
.Groups-bottom-left,
.Groups-bottom-right {
  display: flex;
  flex-direction: column;
  min-height: 77vh;
  overflow-y: auto;
}

.Groups-bottom-left {
  align-items: center;
  width: 25vw;
}

.Groups-bottom-right {
  width: 75vw;

}
.Groups-add-member-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 25vw;
  text-align: center;
  margin-top: 3vh;
}

.Groups-add-member-button a:hover {
  background-color: #C2AFF0;
  color: white;
}

.Groups-add-member-button a {
  background-color: black;
  font-family: "Syne", sans-serif;
  font-weight: 700;
  color: white;
  text-decoration: none;
  font-size: 2.3vh;
  padding: 1vh 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28vh;
  height: 2.6vw;
}
.Groups-members-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
  width: 17vw;
  text-align: center;
  margin-top: 3vh;
  border-radius: 8%;
  background-color: #C2AFF0;
}
.Groups-members-title {
  font-family: "Syne", sans-serif;
  font-weight: 700;
  color: black;
  text-decoration: none;
  font-size: 3vh;
  margin-top: 3vh;
}
.Groups-members-sub-container {
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 17vw;
  text-align: center;
  margin-top: 3vh;
  border-radius: 8%;
  overflow-y: auto;
}
.Groups-members-text {
  font-family: "Syne", sans-serif;
  font-weight: 700;
  color: rgb(70, 70, 70);
  text-decoration: none;
  font-size: 2.5vh;
  margin-bottom: 2vh;
}
.Groups-description-title {
  font-family: "Syne", sans-serif;
  font-weight: 700;
  color: black;
  text-decoration: none;
  font-size: 3vh;
  margin-top: 5.5vh;
  margin-left: 4vh;
}
.Groups-description-text {
  font-family: "Syne", sans-serif;
  font-weight: 700;
  color: black;
  text-decoration: none;
  font-size: 2.7vh;
  margin-top: 1vh;
  margin-left: 4vh;
}
.Groups-description-container {
  display: flex;
  flex-direction: column;
  height: 24vh;
  width: 60vw;
  overflow: auto;
}
.Groups-tasks-container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 80vw;
  min-height: 60vh;
  overflow-y: auto;
  flex-direction: column;
  
}
.Groups-tasks-title {
  font-family: "Syne", sans-serif;
  font-weight: 700;
  color: black;
  text-decoration: none;
  font-size: 3vh;
  margin-top: 1vh;
  margin-left: 4vh;
}
.Groups-tasks-sub-container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 70vw;
  min-height: 40vh;
  overflow-y: auto;
  flex-direction: row;
}
.Groups-task {
  width: 30vh;
  height: 15vh;
  margin-top: 2vw;
  margin-left: 2.8vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #F0E6FE;
  font-family: "Syne", sans-serif;
  font-weight: 300;
  color: white;
  text-decoration: none;
  font-size: 4vh;
  cursor: pointer;
}

.Groups-task:hover {
  background-color: #d8bcff;
}

.Groups-plus-sign {
  font-family: "Syne", sans-serif;
  font-weight: 700;
  color: white;
  text-decoration: none;
  font-size: 12vh;
}